/* _content/CustomRCL/ChartIQ1.razor.rz.scp.css */
.my-component[b-0wbr2i3z2m] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/CustomRCL/ChartIQ2.razor.rz.scp.css */
.my-component[b-tst2bltpdx] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
