@inject ConnectorService ConnectorService
@inject IJSRuntime JSRuntime
@implements IDisposable

<div class="my-component">
    This component is defined in the <strong>CustomRCL</strong> library.
</div>



@code {


	protected override async Task OnInitializedAsync()
	{
	}

	protected override void OnInitialized()
	{
		ConnectorService.OnExecuteJS += OnExecuteJS;

	}
	public async Task OnExecuteJS(string jsName, string messageBody)
	{
		await JSRuntime.InvokeVoidAsync(jsName, messageBody);
	}


	public void Dispose()
	{
		ConnectorService.OnExecuteJS -= OnExecuteJS;
	}

}

